
// Colours
$content: #333333;
$inactive: #dddddd;
$lightContent: #ffffff;
$lightBg: #ffffff;
$pageBg: #fbfbfb;
$buttonBg: #1f8ad0;
$buttonBgHover: #555555;
$border: #dddddd;
$flagBorder: #888888;

// Fonts
$primaryFont: "Helvetica Neue";

// Media query width
$mediaQuerySm: 639px;